$color-primary: #0f4c75;
$color-primary-light: #318fb5;
$color-grey: grey;
$color-grey-dark: #999;
$color-grey-text: #eee;
$color-white: white;
$color-black: black;
$color-dark-black: #333;
$color-grey-light: #f7f7f7;
$color-subtle-green: #4e89ae;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-green-dark: rgb(13, 153, 48);
$color-green-light: rgb(66, 211, 151);
$color-blue-dark: #4e89ae;
$color-blue-light: #40a8c4;
